{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="content-section">
        <h3>About</h3>
        <hr>
        <p>Hello and welcome to HealthClub. We devised this project with the primary goal to assist medical professionals in possessing a reliable brain tumor detection machine. This AI program allows differentiating the differences between the X-Ray scans of an affected brain - a positive brain tumor, and a regulatory brain scan - a negative brain tumor. We immediately set to create our hopeful product with this goal in mind. To bring this project to the fullest of its potential despite the restricted circumstances, we strove forward implementing our amalgamated passion for medics and came to this result. We are proud of our machine and sincerely hope you would spread the same love as we had making this come to life.
            <br><br>In Best Hopes,<br>Ben Nguyen, Rishit Agrawal, Adarsh Agrahara, and Eshaan Kaipa
        </p>
    </div>
{% endblock content %}