{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="content-section">
        <h3>About</h3>
        <hr>
        <p>Hello. We are HealthHub. In the spirit of the theme Healthcare, our goal was creating a reliable brain tumor detection machine which differentiates an X-RAY of a positive resulted brain tumor scan in differentiation to a negative scan assisting doctors in their works, we knew immediately thats what we wanted to expand on. We dedicated much of our time to this undertaking, and, combined with our amalgamated love for medics, decided to come up with this. We sincerely hope you enjoy our machine as much as we did making it.<br><br>Sincerely,<br>Ben Nguyen, Rishit Agrawal, Adarsh Agrahara, and Eshaan Kaipa 
        </p>
    </div>
{% endblock content %}