{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="content-section">
    <h3>Do you have a brain tumor?</h3>
    <hr>
    <p>Check if you have a brain tumor by putting your brain x-ray through this deep learning model. It is trained to
        detect irregularities in brain imaging scan. Press "Choose File" and select a picture of your x-ray. Then, Press
        Evaluate and see your results!</p>
    <form method="post" enctype="multipart/form-data">
        <input type='file' name='uploaded_img' required><br>
        <input style='margin-top:10px; margin-bottom:10px' type='submit' value='Evaluate'>
    </form>
    <span>JPG and PNG files only.</span>
    <br><br>
    <a href="{{ url_for('symptoms') }}">
        <img src="https://images.medicinenet.com/images/article/main_image/what-were-your-first-signs-of-a-brain-tumor.jpg"
            alt="BrainTumor" style="width:300px;height:200px;">
    </a>

    {% if output %}
    <h5 style="margin-top:10px">AI Prediction: {{output}}</h5>
    {% endif %}
</div>
{% endblock content %}
