{% extends "layout.html" %}

{% block title %}Cancer Symptoms{% endblock %}

{% block content %}
<div class="content-section">
    <h3>Symptoms of Brain Cancer</h3>
    <hr>
    <p>
        Here are some symptoms of a brain tumor:
    </p>
    <ul>
        <li>New onset or change in pattern of headaches</li>
        <li>Headaches that gradually become more frequent and more severe</li>
        <li>Unexplained nausea or vomiting</li>
        <li>Vision problems, such as blurred vision, double vision or loss of peripheral vision</li>
        <li>Gradual loss of sensation or movement in an arm or a leg</li>
        <li>Difficulty with balance</li>
        <li>Speech difficulties</li>
        <li>Feeling very tired</li>
        <li>Confusion in everyday matters</li>
        <li>Difficulty making decisions</li>
        <li>Inability to follow simple commands</li>
        <li>Personality or behavior changes</li>
        <li>Seizures, especially in someone who doesn't have a history of seizures</li>
        <li>Hearing problems</li>
    </ul>
</div>
{% endblock content %}