{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="content-section">
        <h3>About</h3>
        <hr>
        <p>Hello. We are OperationAirplane. In the spirit of the theme War and Tech, our goal was creating a reliable aeroplane detection machine which differentiates a civilian from a military aircraft because distinguishing civilian from military targets is imperative in war, we knew immidiatley thats what we wanted to expand on. We dedicated much of our time to this undertaking, and, combined with our amalgamated love for aeronautics, decided to come up with this. We sincerely hope you enjoy our machine as much as we did making it.<br><br>Sincerely,<br>Ben Nguyen, Alan Li, and Eshaan Kaipa 
        </p>
    </div>
{% endblock content %}